[DATASETS]
datasets = [
    {
        "source": "DATA_FOLDER",
        "params": {
            "key": "code_tutorials",
            "text_column": "title",
            "labels_column": "tags"
        }
    },
    {
        "source": "HUGGING_FACE",
        "params": {
            "key": "qanastek/HoC",
            "text_column": "text",
            "labels_column": "label"
        }
    }
    ]

[SAMPLING]
sampling_methods = ["Full Dataset"]

[CLASSIFICATION]
text_representation = ["Term Frequency"]
classification_model = ["Multinomial Naive Bayes"]
problem_transformation = ["Binary Encoding"]


[DATA_AUGMENTATION]
methods = [ 
    ["eda_aug", {}],
    ["char_aug", {"kind": "OCR", "params": {} }],
    ["char_aug", {"kind": "keyboard", "params": {} }]
    ]
steps = [0.2, 0.5, 0.8, 1.0, 1.5]